<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	
	<head profile="http://gmpg.org/xfn/11">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<title>NTUU KPI</title>	
		<link rel="stylesheet" th:href="@{/css/style.css}" type="text/css" media="screen"/>
		<script th:src="@{/js/jquery.js}"></script>
		<script th:src="@{/js/student.js}"></script>
	</head>

<body>

<!-- Page -->
<div id="page">
	<div th:include="fragments/header::header"  th:remove="tag"></div>
	
	<div id="main">
	
		<div id="content">
			<div class="post" id="post-612">			
				<div class="post-title">
					<h2>Зміна паролю</h2>
				</div>
				
				<section class="post-entry">
					<form id="registerForm" class="post-item" method="post" th:object="${currentUser}" action="/student/changePassword">
						<fieldset>	
							<legend><h2>Змінити пароль</h2></legend>
							<input type="hidden"  th:field="*{login}" th:value="${login}"/>
							<ol>
								<li>
									<label for="password">Введіть пароль:</label> 
									<input id="password" type="password"  th:field="*{password}"  maxlength ="20" title="Введіть пароль не менше ніж з 6 символів" pattern=".{6,}" required='true'/><br/>
								</li>
								<li>
									<label for="conPassword">Повторіть пароль*:</label>
									<input id="conPassword" type="password" name="conPassword" maxlength ="20" onkeyup="validatePassword();" required='true' /> <br/>
								</li>
							</ol>	
						</fieldset>
						
						<input type="submit" value="Змінити"/>
					</form>				
				</section>
			</div>	
		</div>

		
		<div id="sidebar">
			<div id="sidebar-right">
				<div th:include="fragments/menus::studentMenu('changePassword')"  th:remove="tag"></div>		
			</div>
		</div>
		<div class="clear"></div>
	</div>
		
	<div th:include="fragments/footer::footer"  th:remove="tag"></div>
</div>
</body>
</html>